.form_radio {
  margin-bottom: 10px;
  font-size: 24px;
}
.form_radio input[type="radio"] {
  display: none;
}
.form_radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
.form_radio label:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: -5px;
  bottom: 1px;
  background: url("../assets/svg/radio_not_checked.svg") 0 0 no-repeat;
}

/* Checked */
.form_radio input[type="radio"]:checked + label:before {
  background: url("../assets/svg/radio_checked.svg") 0 0 no-repeat;
}

/* Hover */
.form_radio label:hover:before {
  filter: brightness(120%);
}

/* Disabled */
.form_radio input[type="radio"]:disabled + label:before {
  filter: grayscale(100%);
}
