.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: -100%;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  z-index: 500;
}
.popup.open {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
  top: 0;
  left: 0;
  range: 0;
  bottom: 0;
}
.popup-body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.popup-content {
  width: 1160px;
  height: 685px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.popup-close {
  cursor: pointer;
  width: 272px;
  height: 70px;
  border-radius: 100px;
  background: linear-gradient(275deg, #4333ff 30%, #07ffd2 70%);
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.popup-content__title {
  font-family: Inter;
  font-weight: 500;
  font-size: 32px;
  line-height: 38.73px;
  color: #353535;
}

body.fixed {
  overflow: hidden;
}

@media (max-width: 1200px) {
  .popup-content {
    max-width: 678px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .popup-content__title {
    font-size: 24px;
  }
  .popup-close {
    width: 219px;
    height: 56px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .popup-content__title {
    line-height: 29.05px;
  }
}

@media (max-width: 680px) {
  .popup-content {
    max-width: 288px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .popup-content__title {
    font-size: 20px;
    line-height: 24.2px;
    text-align: center;
  }
  .popup-close {
    align-items: flex-end;
  }
}

.preloader {
  margin-right: -40px;
  width: 40px;
  height: 40px;
  z-index: 11;
  position: relative;
  top: 10px;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
